[Unit]
Description=som-dashboard-init
Requires=network-online.target
After=network-online.target
Wants=dfx-mgr.service

[Service]
ExecStart=/usr/bin/som-dashboard-init

[Install]
WantedBy=multi-user.target
